.title {
  margin-top: 100px;
  margin-left: 60px;
  font-size: 27px;
  width: 55%;
}

.buy-info {
  margin-top: 250px;
  width: 100%;
  margin-left: -655px;
  text-align: center;
}

.buy-info .description-buy {
  margin: 15px;
  font-size: 25px;
}

.buttons-resume {
  margin-top: 540px;
  margin-right: -30px;
  width: 5%;
}

.resume-button {
  text-decoration: none;
  color: white;
  font-size: 17px;
  transition: all 300ms;
  letter-spacing: 3px;
  background-color: black;
  border: 1px solid transparent;
  margin: -295px;
  padding-left: 15px;
  padding-right: 15px;
  padding: 12px;
  border-radius: 6px;
}

.resume-button:hover {
  color: black;
  background-color: white;
  border: 1px solid black;
  transition: 0.4s;
  box-shadow: 0px 0px 6px #000000;
}

/*----------------------------------------------------------------*/

